@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --pastel-blue: #EAF2F8;
    --dark: #333;
    --pastel-pink: #FFB6C1;
    --sky-blue: #87CEFA;
}

body {
    background-color: var(--pastel-blue);
    color: var(--dark);
    cursor: none;
    font-family: 'Space Mono', monospace;
}

.cursor {
    pointer-events: none;
}

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.cursor__ball circle {
    fill: var(--sky-blue)
}

#name {
    position: relative;
    color: var(--pastel-pink)
}

#about, #projects {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverable {
    cursor: none;
}