@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --primary: #333;
    --secondary: #f0f0f0;
}

body {
    background-color: var(--secondary);
    color: var(--primary);
}

#cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
}

.name-letter {
    display: inline-block;
    transition: filter 0.3s ease;
}

.name-letter:hover {
    filter: blur(4px);
}

#about, #projects {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}