@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Bold"), url("./fonts/AvenirNext-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Italic"), url("./fonts/AvenirNext-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Regular"), url("./fonts/AvenirNext-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  font-family: "Avenir Next", sans-serif;
  position: absolute;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2 / span 12;
  font-size: 2rem;
  margin: 2rem 10rem 15rem 0rem;
  line-height: 5rem;
}

h1 {
  font-weight: bolder;
  font-size: 5rem;
  cursor: pointer;
  margin-bottom: 10rem;
  color: rgb(209, 197, 173);
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: rgb(209, 197, 173);
}

a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-weight: lighter;
  font-size: x-large;
}

section {
  grid-column: 2 / span 10;
  background-color: hsl(88, 25%, 11%, 0.5);
  padding: 1rem 5rem;
  margin: 1rem;
  font-size: 1.25rem;
}

#progress-bar {
  display: block;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.proj-desc {
  width: 50%;
}

.top-section {
  border-radius: 5rem 5rem 0 0;
}

.bottom-section {
  border-radius: 0 0 5rem 5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 7rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
}

.socials {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  header {
    margin: 3rem 3rem 15rem;
    grid-column: 1 / span 12;
  }

  section {
    text-align: center;
    grid-column: 2 / span 10;
    padding: 1rem 1rem;
  }

  .footer {
    flex-direction: column;
    line-height: 4rem;
  }

  .socials {
    width: 100%;
  }

  .project {
    flex-direction: column;
    padding: 0;
  }

  a {
    text-align: center;
  }

  .proj-desc {
    width: 100%;
  }
}
