@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Bold"), url("./fonts/AvenirNext-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Italic"), url("./fonts/AvenirNext-Italic.woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext-Regular"), url("./fonts/AvenirNext-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

/* background-image: radial-gradient(#fafafa 30%, transparent 20%);
background-color: black;
background-position: 0 0, 50px 50px;
background-size: 10px 10px; */
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#app {
  font-family: "Avenir Next", sans-serif;
  position: absolute;
  /* background-color: black; */
  color: white;
  width: 100%;
  margin: 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 3 / span 12;
  font-weight: bold;
  margin: 2rem 10rem 5rem 0rem;
  letter-spacing: 0.01rem;
  line-height: 6rem;
}

h1 {
  font-weight: bolder;
  font-size: 7rem;
  cursor: pointer;
  margin-bottom: 10rem;
  color: #d1c5ad;
}

h2 {
  font-weight: bold;
  font-size: 3rem;
  color: #d1c5ad;
}

a {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;

  text-align: center;
  display: block;
  width: 30rem;
  border: 1px white dashed;
  border-radius: 10px;

}

a:hover {
  background-color: #d1c5ad;
  color: black;
  border: none;
}

p {
  font-weight: lighter;
  font-size: x-large;
}

section {
  grid-column: 2 / span 10;
  /* background-color: #1d231580; */
  background-color: black;
  border: 1px white dashed;
  padding: 1rem 5rem;
  margin: 1rem;
  font-size: 1.25rem;
}

#progress-bar {
  display: block;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.proj-desc {
  width: 50%;
}

.top-section {
  border-radius: 2.5rem 2.5rem 0 0;
}

.bottom-section {
  border-radius: 0 0 2.5rem 2.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 7rem;
  margin-bottom: 5rem;
  padding-bottom: 3rem;
}

.socials {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  header {
    margin: 3rem 3rem 5rem;
    grid-column: 1 / span 12;
  }

  section {
    text-align: center;
    grid-column: 1 / span 12;
    padding: 1rem 1rem;
  }

  a {
    width: 20rem;
  }

  .footer {
    flex-direction: column;
    line-height: 4rem;
  }

  .socials {
    width: 100%;
  }

  .project {
    flex-direction: column;
    padding: 0;
  }

  a {
    text-align: center;
  }

  .proj-desc {
    width: 100%;
  }
}
