#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    text-align: center;
    top: 20%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.text {
    display: none;
}

a {
    color: white;
}